body {
	text-align: center;	
}


#quote-image {
	height: 400px;
	width: 100%;
	display: block;
	opacity: 0.6;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-static-top {
	margin-bottom: 0px;
	z-index: 501;
	font-size: 20px;
	background-color: #5AA7F5;
}

p {
	font-size: 17px;
}

.arrow-down {
	position: relative;
	left: 48%;
	width: 0px;
	height: 0px;
	border-right: 40px solid transparent;
	border-left: 40px solid transparent;
	border-top: 40px solid #5AA7F5;
}

@media (max-width: 800px) {
	body {
		text-align: center;
		background-color: #E79A64
	}

	.navbar-static-top {
	margin-bottom: 0px;
	z-index: 501;
	font-size: 18px;
	}

	p {
		font-size: 15px;
	}

}