body {
	text-align: center;	
}


#quote-image {
	height: 400px;
	width: 100%;
	display: block;
	opacity: 0.6;
}

hr {
	margin-top: 20px;
	margin-bottom: 20px;
}

.navbar-static-top {
	margin-bottom: 0px;
	z-index: 501;
	font-size: 20px;
}

p {
	font-size: 17px;
}

#projects {
	padding-top: 20px;
	padding-bottom: 40px;
	background-color: #5bc0de;
	padding-left: 15px;
	padding-right: 15px;
}

#about {
	padding-left: 60px;
	padding-right: 60px;
}

.arrow-down {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #5bc0de;
	left: 48%;
}

.arrow-down-white {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 30px solid #FFF;
	left: 48%;
}

#navbar-all {
	padding-bottom: 20px;
}

@media (max-width: 800px) {
	body {
		text-align: center;
	}

	.navbar-static-top {
	margin-bottom: 0px;
	z-index: 501;
	font-size: 18px;
	}

	p {
		font-size: 15px;
	}

}