@import url(http://fonts.googleapis.com/css?family=Hind);

body{
	font-family: 'Hind','Helveltica',Sans-serif;
	background-color: #F5F2F2;
	left: 5%;
	right: 5%;
}

header {
	position: absolute;
	top: 0;
	left: 0%;
	right: 0%;
	width: 100%;
	background-color: #68A9E7;
	line-height: 50px;
	margin: 5%;
	padding: 0;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #68A9E7;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.career{
	position:relative;
	top: 120px;
	border: thick black 1px;
	background-color: #E5E5E5;
	margin-left: 10px;
}

.grid {
	margin-top: 200px;
	
}

.column {
	float: left;
	width: 46%;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	clear: both;
}

/*
colors  
blue #63A9E6
light blue #ABDDEF

