@import url(http://fonts.googleapis.com/css?family=Exo+2:300);

body {
	position: relative;
	font-family: 'Exo 2', sans-serif;
	background-color: #F5F2F2;
}

header {
	position: absolute;
	top: 0;
	width: 100%;
	background-color: #68A9E7;
	line-height: 30px;
	margin: 0;
	padding: 0;
	text-align: center;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #68A9E7;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: center;
}

.career {
	position:relative;
	top: 100px;
	border: thick black 1px;
	background-color: #E5E5E5;
	margin-left: 10px;
}
.grid {
	position: relative;
	top: 100px;
}

.column {
	float: left;
	width: 45%;
	margin-left: 10px;
	margin-right: 10px;
}

.row {
	position: relative;
	clear: both;
}

li p {
	padding-left: 20px;
	background-color: lightgreen;
	border-radius: 12px;
}
/*
colors  
blue #63A9E6
light blue #ABDDEF

